<container>
  <row class="header">
    <columns small="4" large="4" valign="middle">
      <a href="#">
        <img src="https://i.imgur.com/mwyV5Zb.png" class="bjs_logo" />
      </a>
    </columns>

    <columns small="5" large="4" valign="middle">
      <a href="#">
        <img src="https://i.imgur.com/A6Hf91U.png" class="menu float-center" />
      </a>
    </columns>

    <columns small="3" large="3" valign="middle">
      <a href="#">
        <img src="https://i.imgur.com/1z0A318.png" class="order float-right" />
      </a>
    </columns>
  </row>
</container>
